.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.selected {
  color:#FFFFFF;
}
.menu_background {
}
.menu_items {
  text-align:left;
}
.shape {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  font-family:'PTSans-Regular', 'PT Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.box_2 {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.connector {
}
.marker {
  color:#FFFFFF;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  font-family:'PTSans-Bold', 'PT Sans Bold', 'PT Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
.paragraph1 {
  color:#666666;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.box_3 {
}
.box_1 {
}
.image1 {
  color:#000000;
}
.line1 {
}
.table {
  font-size:14px;
}
.table_cell1 {
  font-size:14px;
  text-align:left;
}
.icon {
}
.text_field1 {
  color:#666666;
  text-align:left;
}
.flow_shape {
}
.shape1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ellipse {
}
.shape2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
textarea, select, input, button { outline: none; }
